main {
  h1 {
    width: 100%;
    text-align: center;
    font-size: 32px;
  }
  .profileSettings {
    display: flex;
    flex: 1;
    min-width: 250px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 5%;

    .inputSection {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;
      min-width: 250px;

      h2 {
        font-size: 1.75rem;
        margin-bottom: 25px;
      }
      div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 30px;
        height: fit-content;
        p {
          color: var(--primary-text-color);
          font-size: 0.85rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
        input {
          min-width: 250px;
          height: 40px;
          border-radius: 6px;
          font-size: 1.125rem;
          background-color: white;
          border: 1px solid var(--border-color);
          color: black;
          padding-left: 15px;
        }
      }

      .avatarSelection {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 80px;
        min-width: 300px;
        max-width: 48%;
        margin-bottom: 5px;
        .textContainer {
          height: min-content;
          p {
            font-size: 16px;
          }
          span {
            font-size: 14px;
          }
        }
        .imageContainer {
          position: relative;
          height: 75px;
          width: 75px;
          overflow: hidden;
          border-radius: 100%;
          &:hover {
            img {
              scale: 1.1;
            }
            .editImage {
              visibility: visible;
              opacity: 1;
              transform: translateY(100%);
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: var(--primary-background-color);
          }
          .editImage {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: var(--first-level);
            transform: translateY(200%);
            transition: transform 0.2s ease-in, opacity 0.1s ease-in,
              visibility 0.1s ease-in;
            pointer-events: none;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            svg {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
      .nameSection,
      .addressSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 20px;
        margin: 0;
      }
      .oldPassword {
        span {
          margin-top: 10px;
          font-size: 14px;
          color: var(--secondary-text-color);
          cursor: pointer;
          width: fit-content;
          &:hover {
            color: var(--secondary-accent-color);
          }
        }
      }
    }
    .saveChangesBtn {
      background-color: var(--primary-accent-color);
      color: white;
      width: 200px;
      height: 50px;
      font-size: 1.125rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px 0 10px 0;
      cursor: pointer;     

      &:hover {
        font-size: 1.25rem;
      }
      &:active{
        background-color: var(--secondary-accent-color);
      }
    }
  }
  #profilePictureContainer {
    padding-top: 5%;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--third-level);
    background-color: hsla(230, 75%, 15%, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: opacity 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    &[data-menu="open"] {
      opacity: 1;
      pointer-events: initial;
      transition: opacity 0.4s;
    }
    &[data-menu="closed"] {
      opacity: 0;
    }
    .mainContainer {
      position: relative;
      background-color: var(--primary-background-color);
      min-width: 300px;
      width: 100%;
      gap: 25px;
      padding: 2% 5%;
      height: max-content;
      border-radius: 15px;
      overflow-y: auto;
      max-height: 70dvh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      #closeProfilePicture {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 20px;
        color: var(--secondary-accent-color);
        cursor: pointer;
      }
      .pictureContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
        margin: 25px 0;
        .imageContainer {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          overflow: hidden;
          background-color: red;
          &:hover {
            border: 2.5px solid var(--primary-accent-color);
          }

          img {
            object-fit: fill;
            height: 100%;
            width: 100%;
          }
        }
      }

      #selectedProfileImage {
        text-align: center;
        margin: 0 auto;
        background-color: var(--primary-accent-color);
        height: 40px;
        width: 150px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 0;
        border-radius: 15px;
        &:active {
          background-color: var(--secondary-accent-color);
        }
      }
    }
  }
}
